@charset "UTF-8";

/*　ヘッダー*/
header {
	display: flex;
	width: 100%;
	height: 80px;
	background-color: #2B2B2B;
	align-items: center;
}

.title {
	margin-right: auto;
	color: white;
	padding-left: 30px;
	font-size: 20px;
}
/*　共通*/
.margin {
	margin: 40px 150px 0px;
}

a {
	 text-decoration: none;
	 color: #1e90ff;
}
/*  工場*/
.path {
	display: flex;
	width: 100%;
	height: 50px;
	background-color: #ededed;
	border-radius: 5px;
	align-items: center;
}

.menu-path {
	padding-left: 20px;
}

.plant-menu {
	padding-left: 8px;
}

.search-margin {
	margin: 20px 150px 40px;
	display: flex;
	justify-content:space-between
}

.search-background {
	display: flex;
	width: 93%;
	height: 60px;
	background-color: #ededed;
	border-radius: 5px;
	align-items: center;
	margin-right: 10px;
	padding-left: 20px;
}

.textbox {
    width: 500px;
    height: 30px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 1px solid #ddd; /*枠線*/
    font-size: 16px;
}

.search-button {
	color: white;
	background-color: #00BBBB;
	border: none;
	border-radius: 5px;
	padding: 5px 8px;
	font-size: 14px;
}

.new-button {
	color: white;
	background-color: #0080FF;
	border: none;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 10px 0px;
	font-size: 14px;
}

.update-button {
	color: white;
	background-color: #0080FF;
	border: none;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 10px 0px;
	font-size: 14px;
}

.delete-button {
	color: white;
	background-color: #FF0000;
	border: none;
	border-radius: 5px;
	padding: 5px 8px;
	margin: 10px 0px;
	font-size: 14px;
}

th,td {
    border: solid 1px #ededed;
    padding: 5px 5px; 
    white-space: nowrap;
    table-layout: fixed;
}
 
table {
    border-collapse:  collapse;     /* セルの線を重ねる */
    width: 100%;
    text-align: left;
}

.register-button {
    color: white;
    background-color: #0080FF;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 10px 0px;
    font-size: 14px;
}

.form-row {
    display: flex; /*　横並び　*/
}

.form-group {
    display:flex;
    flex-flow: column;　/*　縦並び　*/
    margin: 0px; /*　これがないと幅消える謎　*/
    padding: 0px 20px 20px 0px;
}

.form-group2 {
    display:flex;
    flex-flow: column;　/*　縦並び　*/
}

label {
    font-weight: bold;
}

.red {
    background-color: #FFCCCC;
}

.text-danger {
    color: red;
}
